.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    margin: auto;
    justify-items: start;
}

.answer-remark {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: white;
}

.single-QA {
}

.singla-QA-full{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.icon {
    width: 25px;
    color: white;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
    .single-QA {
        width: 300px;
        margin: auto;
    }
    .options-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: auto;
    }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .single-QA {
        width: 100%;
    }
    .options-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: auto;
    }
}