.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    margin: auto;
}

.answer-remark {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: white;
}