.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    width: 350px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
}

.card-container a {
    text-decoration: none;
}

.card-container img {
    width: 150px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
    
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lightgrey;
        width: 100%;
        border-radius: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        padding: 5px;
    }
    .card-container img {
        width: 50%;
    }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {

    
}