.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightcoral;
    width: 75%;
    border-radius: 10px;
    margin: 10px auto;
}

.nav-container a {
    text-decoration: none;
    padding: 5px;
    color: darkblue;
}

.nav-container a:hover {
    color: white;
}
.nav-container a.active {
    color: crimson;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 480px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0px;
        padding: 5px;
        
    }

    .logo h2{
       font-size: 20px;
    }

    .nav-container a {
        text-decoration: none;
        padding: 5px;
        color: darkblue;
        font-size: 20px;
    }
    
 }

/* tablet device */
 @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 0px;
        padding: 5px;
    }

    .logo h2{
        font-size: 20px;
     }
     .nav-container a {
        text-decoration: none;
        padding: 8px;
        color: darkblue;
        font-size: 20px;
    }

  }